@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of app styles */

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0d2840;
  height: 100%;
}

#__next {
  height: 100%;
}
